body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    border: 4px solid #333;
}

.square {
    /* box-sizing: border-box ensures borders don't break the layout */
    box-sizing: border-box;
    background-color: #fff;
    border: 0.1px solid #f0f0f0;
}